
	.bg-gradient-primary{
		background-color: #ffa45c !important;
	    background-image: linear-gradient(180deg,#ffa45c 10%,#e66700 100%) !important;
 		background-size: cover !important;
	}
	.text-shipped{
	 	color: #ffa45c;
	}
	.btn-primary {
		background-image: linear-gradient(to bottom right,#ffa45c 10%,#e66700 100%) !important;
		border: 1px solid #ffa45c !important;
		color: #fff !important;
		border-radius: 15px;
	}
	.btn-primary:hover {
		background-image: linear-gradient(to bottom right,#ffb980 10%,#ff7300 100%) !important;
		color: #fff !important;
	}
	.btn-danger {
		background-color: #e74a3b!important;
		border: 1px solid #e74a3b!important;
		color: #fff !important;
		border-radius: 15px;
	}
	.btn-danger:hover {
		background-color: #fff !important;
		color: #e74a3b!important;
	}
	a.text-primary {
		color: #ffa45c !important;
	}
	a.text-primary:hover {
		color: #ffa45c !important;
	}
	a.text-danger:hover {
		color:#e74a3b!important;
	}
	a:hover{
		text-decoration: none;
	}
	.btn-edit:hover {
	    background-image: linear-gradient(to bottom right,#ffa45c 10%,#e66700 100%) !important;
		color: #fff !important;
		transition: 0.5s ease-in; 
		border: 1px solid #ffa45c !important;
	}
	.btn-edit {
		background-color: #f8f9fc !important;
		border-bottom: 1px solid #ffa45c !important;
		color: #ffa45c !important;
		border-radius: 15px;
		border-radius: 15px;
	}
	
	.btn-receive {
		background-color: #f8f9fc !important;
		border-bottom: 1px solid #198754 !important;
		color: #198754 !important;
		border-radius: 15px;
	}
	.btn-receive:hover {
	    background-image: linear-gradient(to bottom right,#24c278 10%,#105635 100%) !important;
		border: 1px solid #198754 !important;
		color:  #fff !important;
		transition: 0.5s ease-in; 
	}
	.btn-shipped:hover {
	    background-image: linear-gradient(to bottom right,#ffb980 10%,#e66700 100%) !important;
		border: 1px solid #ffa45c !important;
		color:  #fff !important;
		transition: 0.5s ease-in; 
	}
	.btn-shipped {
		background-color: #f8f9fc !important;
		border-bottom: 1px solid #ffa45c !important;
		color: #ffa45c !important;
		border-radius: 15px;
	}
	.btn-deliver:hover {
	    background-image: linear-gradient(to bottom right,#3585fd 10%,#01337e 100%) !important;
		border: 1px solid #0d6efd !important;
		color:  #fff !important;
		transition: 0.5s ease-in; 
	}
	.btn-deliver {
		background-color: #f8f9fc !important;
		border-bottom: 1px solid #0d6efd !important;
		color: #0d6efd !important;
		border-radius: 15px;
	}
	.btn-delete:hover {
	    background-image: linear-gradient(to bottom right,#ee8177 10%,#b62416 100%) !important;
		border: 1px solid #e74a3b !important;
		color: #fff !important;
		transition: 0.5s ease-in; 
	}
	.btn-delete {
		background-color: #f8f9fc !important;
		border-bottom: 1px solid #e74a3b !important;
		color: #e74a3b !important;
		border-radius: 15px;
	}
	.btn-inactive:hover {
		border: 1px solid #f6c23e !important;
	}
	.btn-inactive {
		background-color: #fff !important;
		color: #f6c23e !important;
		border-radius: 15px;
	}
	.btn-upload {
		background-color: #fff !important;
		color: #ffa45c !important;
		border: 1px solid #ffa45c !important;
		border-radius: 15px;
	}
	.btn-upload:hover {
		background-image: linear-gradient(to bottom right,#ffb980 10%,#e66700 100%) !important;
		color: #fff !important;
		transition: 0.6s ease;
	}
	.btn-change {
		background-color: #fff !important;
		color: #ffa45c !important;
		border: 1px solid #ffa45c !important;
		border-radius: 15px;
	}
	.btn-change:hover {
		background-image: linear-gradient(to bottom right,#ffb980 10%,#e66700 100%) !important;
		color: #fff !important;
		transition: 0.6s ease;
	}
	.btn-deactivate {
		background-color: #fff !important;
		color: #e74a3b !important;
		border: 1px solid #e74a3b !important;
		border-radius: 15px;
	}
	.btn-deactivate:hover {
	    background-image: linear-gradient(to bottom right,#ee8177 10%,#b62416 100%) !important;
		color: #fff !important;
		transition: 0.6s ease;
	}
	.card-img-top:hover{
		opacity: 0.8;
  		transition: .5s ease;
	}
	div.card:hover{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	div.login-card{
		background-color: white;
		padding: 25px;
		width:330px;
		height: 480px;
		box-shadow: 15px 15px 15px rgb(192, 192, 192);
		border-radius: 15px;
		border: 1px solid #f4f4f4;
	}
	div.bg-img{
		background-image: linear-gradient(to bottom,#ffa45c 50%,#f8f9fc 50%);
		height: 100%;
		border-radius: 20px;
	}
	div.seller_profile_img{
		width: 100%;
	}
	
	div.seller_profile_img .img-profile{
		border-radius: 20px;
	}
	div.seller-shop-action{
		padding-top: 100px;
	}
	div.seller-shop-action a{
		padding: 10px 40px;
	}
	
	 @media (prefers-color-scheme: dark) {
	/* body dark */
	.body-dark{
		background-color: #22252f !important;
	}
	
	/* nav dark */
	.nav-dark{
		background-color: #2d313e !important;
	}
	.search-dark{
		background-color: #d1d3e2 !important;
	}
	
	/* side bar dark */
	.sidebar-darkmode{
		background-image: linear-gradient(180deg,#2b2e3b 10%,#2b2e3b 100%) !important;
	}
	
	/* card dark */
	.card-dark{
		background-color: #2b2e3b !important;
	}
	
	.card-test-dark{
		color: #d1d3e2 !important;
	}
	
	/* footer dark */
	.footer-dark{
		background-color: #262b3c !important;
	}
	
	/* btn dark */
	.button-dark{
		background-color: #22252f !important;
	}
	
	/* form dark */
	.form-dark{
		background-color: #d1d3e2 !important;
	}
	
	
	/* seller detail bg dark */
	.bg-img-dark{
		background-image: linear-gradient(to bottom,#ffa45c 50%,#22252f 50%) !important;
	}
	
	}
	