<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{storefront-template}"
	th:with="title1='Confirm User',title2='Confirm'">
<head>
	<title>Confirm User</title>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/app/css/style.css}" />
	</th:block>
</head>
<body>
	<section class="ftco-section ftco-cart content-color" layout:fragment="content-body">
			<div class="d-flex justify-content-center mt-2">
			<div class="login-card">
			<form th:action="@{/resetPassword}" class="form user" method="post">
			<div class="alert alert-danger" th:if="${message}">
				<p class="text-center" th:text="${message}"></p>
			</div>
			<h4 style="color:black;">RESET PASSWORD</h4>
			<p>Please enter your credentials first.</p>
			<div class="form-group">
				<label for="" class="form-label">Email</label>
             	<input name="email" type="email" class="form-control form-control-user" placeholder="example@gmail.com" required="required">
            </div>
            <div class="form-group">
            	<label for="" class="form-label">Phone</label>
             	<input name="phone" type="text" class="form-control form-control-user" placeholder="Enter Phone No..." required="required">
            </div>
         	
            <button class="btn btn-primary btn-user btn-block mt-4">Reset Password</button>
            <a th:href="@{/login}" style="color:#0d6efd" class="text-center pt-2 float-right"><small>Back to login page</small></a>
       </form>
		</div>
		</div>
		</section>
		<th:block layout:fragment="js">
    	<script th:src="@{/app/js/cart.js}"></script>
    	</th:block>
</body>
</html>