<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{storefront-template}"
	th:with="title1='Register',title2='Register'">
<head>
	<title>Register</title>
</head>
<body>
	<section class="ftco-section ftco-cart" layout:fragment="content-body">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<h3>Please fill up</h3>
				</div>
				<hr />
				<div class="row d-flex justify-content-center">
					<form th:action="@{/shop/user/save}" class="form col-8" method="post" th:object="${user}" enctype="multipart/form-data">
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<label for="" class="form-label">Name</label>
									<input th:field="*{name}" type="text" class="form-control" required="required" placeholder="Your Name"/>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label for="" class="form-label">Phone</label>
									<input th:field="*{phone}" type="text" class="form-control" required="required" placeholder="Your Phone"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<label for="" class="form-label">Email</label>
									<input th:field="*{email}" type="email" class="form-control" required="required" placeholder="example@gmail.com"/>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label for="" class="form-label">Address</label>
									<input th:field="*{address}" type="text" class="form-control" required="required" placeholder="Your Address"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="mb-3">
									<label for="" class="form-label">Password</label>
									<input id="pass1" th:field="*{password}" type="password" class="form-control" required="required" placeholder="Your password"/>
								</div>
							</div>
							<div class="col">
								<div class="mb-3">
									<label for="" class="form-label">Password</label>
									<input id="pass2" th:onchange="return check()" type="password" class="form-control" required="required" placeholder="Enter your password again"/>
									<small id="message" class="text-danger"></small>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="mb-3">
            						<label for="formFile" class="form-label">Choose Photos</label>
  									<input style="border:none;" class="form-control" type="file" id="formFile" name="uploadPhoto" required="required">
								</div>
							</div>
							<div class="col">
								<label for="">Township</label> <br />
         						<select th:field="*{availablePlace.id}" class="form-select form-township-select" style="width:250px;padding:15px;border-radius:10rem;background-color: #fff;border: 1px solid #d1d3e2;" aria-label="Default select example" >
	         						<th:block th:each="place: ${placeList}">
         							<option th:value="${place.id}" th:text="${place.township} + ' , ' + ${place.city}"></option>
         							</th:block>
								</select>
							</div>
						</div>
						<div class="row d-flex justify-content-center">
							<button class="btn btn-primary px-5 mt-3">Register</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<th:block layout:fragment="js">
    	<script th:src="@{/app/js/cart.js}"></script>
    	<script>
			function check(){
				var pass1 = document.getElementById('pass1');
				console.log(pass1);
				var pass2 = document.getElementById('pass2');
				if(pass1.value != pass2.value){
					document.getElementById('message').innerHTML = "The two passwords must match!!";
					
				}
			}
		</script>
    	</th:block>
</body>
</html>