<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminfront-template}">
<head>
	<title>Product | <th:block th:text="${product.id == 0 ? 'Create' : 'Edit'}"></th:block></title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-10">
				<h1 class="h3 mb-2 text-gray-800"><th:block th:text="${product.id == 0 ? 'Create' : 'Edit'}"></th:block> Product</h1>
			</div>
			<div class="col">
				<a th:href="@{/product/list}" class="btn btn-primary btn-sm px-3"><i class="fas fa-solid fa-angle-left"></i>  Back</a>
			</div>
		</div>
		
		<hr />
		
		<!-- Product Form -->
		
		<div class="d-flex justify-content-center">
			<form th:action="@{/product/save}" class="form user" method="post" th:object="${product}" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{photo}" />
			<div class="form-group">
				<label for="" class="form-label">Name</label>
             	<input th:field="*{name}" type="text" class="form-control form-control-user" placeholder="Enter Product Name...">
            </div>
            <div class="form-group">
            	<label for="" class="form-label">Price</label>
             	<input th:field="*{price}" type="number" class="form-control form-control-user" placeholder="Enter Price...">
            </div>
         	<div class="row mt-3">
         		<div class="col form-group">
         		<label for="" class="form-label">Category</label> <br />
        		<select id="" class="form-select mt-2" th:field="*{category.id}">
        			<th:block th:each="cate: ${categoryList}">
        				<option th:value="${cate.id}" th:text="${cate.name}"></option>
        			</th:block>
        		</select>
            </div>
            <div class="col form-group">
            	<label for="formFile" class="form-label">Choose Photos</label>
  				<input style="border:none;" class="form-control" type="file" id="formFile" name="uploadPhoto">
			</div>
         	</div>
			<div class="form-group mt-3">
				<label for="" class="form-label">Description</label> <br />
				<textarea th:field="*{description}" name="" id="" cols="30" rows="10" class="form-control form-control-user rounded" ></textarea>
			</div>
            <button class="btn btn-primary btn-user btn-block mt-5">Save</button>
       </form>
		</div>
		
	</th:block>
	
</body>
</html>