<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{adminfront-template}">
<head>
	<title>Reset Password</title>
	
</head>
<body>
	<div layout:fragment="sidebar"></div>
	<th:block layout:fragment="search"></th:block>
	<th:block layout:fragment="xs-search"></th:block>
	<th:block layout:fragment="nav-alert"></th:block>
	<th:block layout:fragment="nav-messages"></th:block>
	<th:block layout:fragment="nav-profile"></th:block>
	<th:block layout:fragment="content-body" class="content">
		<div class="d-flex justify-content-center mt-5">
			<div class="login-card">
			<form th:action="@{/successPassChange}" class="form user" method="post" th:object="${passChangeUser}">
			<input type="hidden" th:field="*{id}"/>
			<h4 style="color:black;">RESET PASSWORD</h4>
			<div class="form-group">
				<label for="" class="form-label">New Password</label>
             	<input id="pass1" name="password" type="text" class="form-control form-control-user" placeholder="Enter new password" required="required">
            </div>
            <div class="form-group">
            	<label for="" class="form-label">Enter Password Again</label>
             	<input id="pass2" name="pass2" type="text" th:onchange="return check()" class="form-control form-control-user" placeholder="Enter password..." required="required">
            	<small id="message" class="text-danger"></small>
            </div>
         	
            <button class="btn btn-primary btn-user btn-block mt-4" th:onclick="return submit();">Reset Password</button>
            <a th:href="@{/login}" style="color:#0d6efd" class="text-center pt-3 float-right"><small>Back to login page</small></a>
       </form>
		</div>
		</div>
	</th:block>
	<th:block layout:fragment="js">
		<script>
			function check(){
				var pass1 = document.getElementById('pass1');
				console.log(pass1);
				var pass2 = document.getElementById('pass2');
				if(pass1.value != pass2.value){
					document.getElementById('message').innerHTML = "The two passwords must match!!";
					
				}
			}
		</script>
	</th:block>
</body>
</html>