<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Available Place</title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-9">
				<h1 class="h3 mb-2 text-gray-800">Available Place</h1>
			</div>
			<div class="col">
				<a th:href="@{/admin/availablePlace/add}" class="btn btn-primary btn-sm"><i class="fas fa-thin fa-plus"></i>  Create New</a>
			</div>
		</div>
		
		<!-- Category Table -->
		<div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        	<th>No.</th>
                                            <th>City</th>
                                            <th>Township</th>
                                            <th>Delivery Fees</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<th:block th:each="place,state : ${availablePlaceList}">
                                    		<tr>
                                    			<td th:text="${state.count}"></td>
                                            	<td th:text="${place.city}"></td>
                                            	<td th:text="${place.township}"></td>
                                            	<td th:text="${place.deliveryFees}"></td>
                                            	<td>
                                            		<a th:href="@{'/admin/availablePlace/edit/' + ${place.id}}" class="btn btn-edit btn-sm"><i class="fas fa-solid fa-pen fa-sm"></i> <b>Edit</b></a> 
                                           	 	</td>
                                        	</tr>
                                    	</th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
        
	</th:block>
</body>
</html>