<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Dashboard</title>
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	
	<th:block layout:fragment="content-body">
		<div sec:authorize="hasRole('DELIVERYMAN')">
			<h1>Welcome From Admin site!!</h1>
		</div>
		<div sec:authorize="hasRole('SELLER')">
			<h1>Welcome From Admin site!!</h1>
			
			<!-- Seller content row -->
			<div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${sellerTotalEarning} + ' Ks.'"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Orders
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${sellerTotalorders}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                              <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Products</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${sellerProduct}"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>  
                                
                            </div>
                        </div>

                        
                    </div>
		</div>
		
		<div sec:authorize="hasRole('ADMIN')">
		<!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
        
        <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalEarning} + ' Ks.'"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Orders
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${TotalOrders}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                              <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Products</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${Totalprod}"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>  
                                
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Orders</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${pendingOrders}"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Order Tabel -->
                    <div class="row">
                    	<h5 class="mt-4 mx-3 h4 mb-2 text-gray-800">Latest Orders</h5>
                    	<div class="table-responsive">
                    	<table class="table table-hover text-center mt-4" id="dataTable" width="100%" cellspacing="0">
        	<thead>
            	<tr>
            		<th>Order ID</th>
                	<th>Customer</th>
                    <th>Total</th>
                	<th>Shipping Address</th>
                 	<th>Status</th>
                  	<th>Order Date</th>
                  	<th>Action</th>
               	</tr>
            </thead>
         	<tbody>
               	<th:block th:each="order,count : ${latestOrderList}">
                 	<tr th:onclick="'javascript:goDetail(\'' + ${order.id} + '\');'" click="" style="cursor: pointer">
                      	<td>#ID: <span th:text="${order.id}"></span></td>
                      	<td th:text="${order.customer.name}"></td>
                      	<td th:text="${priceTotal[count.index]}"></td>
                      	<td th:text="${order.shippingAddress}"></td>
                      	<td>
                      		<span th:if="${order.status.name()} == 'pending'" class="text-warning">Pending</span>
                      		<span th:if="${order.status.name()} == 'received'" class="text-success">Received</span>
                      		<span th:if="${order.status.name()} == 'cancelled'" class="text-danger">Cancelled</span>
                      		<span th:if="${order.status.name()} == 'shipped'" class="text-shipped">Shipped</span>
                      		<span th:if="${order.status.name()} == 'delivered'" class="text-primary">Delivered</span>
                      	</td>
                     	<td th:text="${#temporals.format(order.created_at, 'MMM dd,yyyy')}"></td>
                       	<td>
                       		<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/order/received/' + ${order.id}}" class="btn btn-receive btn-sm">Recieved</a> 
                       		<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/order/cancelled/' + ${order.id}}" class="btn btn-delete btn-sm">Cancelled</a>
                       		<a sec:authorize="hasRole('DELIVERYMAN')" th:href="@{'/admin/order/shipped/' + ${order.id}}" class="btn btn-shipped btn-sm">Shipped</a>
                       		<a sec:authorize="hasRole('DELIVERYMAN')" th:href="@{'/admin/order/delivered/' + ${order.id}}" class="btn btn-deliver btn-sm">Delivered</a>
                        </td>
                   	</tr>
              	</th:block>
          	</tbody>
      	</table>
      	</div>
     </div>
     </div>
	</th:block>
	<th:block layout:fragment="js">
		<script type="text/javascript">
				function goDetail(id){
					location.href="/admin/order/detail/" + id;
				}
		</script>
	</th:block>
</body>
</html>