<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Delivery Man</title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-9">
				<h1 class="h3 mb-2 text-gray-800">Delivery Man</h1>
			</div>
		</div>
		
		<!-- Delivery Man Table -->
		<div class="table-responsive">
		<table class="table table-striped text-center mt-4" id="dataTable" width="100%" cellspacing="0">
        	<thead>
            	<tr>
            		<th>No</th>
                	<th>Delivery Man</th>
                    <th>Email</th>
                	<th>Address</th>
                 	<th>Status</th>
                  	<th>Phone</th>
               	</tr>
            </thead>
         	<tbody>
               	<th:block th:each="dMan,state : ${deliverymanList}">
               		<tr>
                 		<td th:text="${state.count}"></td>
                      	<td>
                      		<div class="row">
                      			<div class="col-2"></div>
                      			<div class="col-2">
                      			 	<img width="40" height="40" th:src="@{${dMan.photoPath}}" alt="" class="img-profile rounded-circle float-right"/>
                      			</div>
                      			<div class="col-8">
                      				<div class="float-left">
                      					<small th:text="${dMan.name}"></small> <br />
                      					<small>Seller ID: #<span th:text="${dMan.id}"></span></small>
                      				</div>
                      			</div>
                      			
                      		</div>
                      	</td>
                      	<td th:text="${dMan.email}"></td>
                      	<td th:text="${dMan.address}"></td>
                      	<td>
                      		<span th:if="${dMan.status.name()} == 'active'" class="text-success">Active</span>
                      		<span th:if="${dMan.status.name()} == 'inactive'" class="text-warning">Inactive</span>
                      		<span th:if="${dMan.status.name()} == 'banned'" class="text-danger">Banned</span>
                      	</td>
                     	<td th:text="${dMan.phone}"></td>
                       	<td>
                       		<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/deliveryman/banned/' + ${dMan.id}}" class="btn btn-delete btn-sm">Banned</a>
                        </td>
                   	</tr>
                   	
              	</th:block>
          	</tbody>
      	</table>
      	</div>
	</th:block>
	
	
</body>
</html>