<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Order | Detail</title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-10">
				<h1 class="h3 mb-2 text-gray-800">Order Detail</h1>
				
			</div>
			<div class="col">
				<a th:href="@{/admin/order}" class="btn btn-primary btn-sm px-3"><i class="fas fa-solid fa-angle-left"></i>  Back</a>
			</div>
		</div>
		<hr />
		
			<div class="row m-2 mb-5">
				<img th:src="@{/admin/img/calender.png}" width="50" height="50" alt="" />
				<div class="mx-3">
					<h5 style="color:black;" th:text="${#temporals.format(order.created_at, 'MMM dd,yyyy HH:mm')}"></h5>
					<small>#ID: <span th:text="${order.id}"></span></small>
				</div>
			</div>
			
			<div class="row mt-5">
				<div class="col-md-4 col-12 mb-5">
					<div class="row">
						<div class="col-2"></div>
						<div class="col-1">
							<i class="fas fa-solid fa-user fa-lg"></i>
						</div>
						<div class="col-9">
							<div class="mx-3">
								<h6 style="color:black;"><b>Customer</b></h6>
								<span th:text="${order.customer.name}"></span> <small>#ID: <span th:text="${order.customer.id}"></span></small> <br />
								<span th:text="${order.customer.email}"></span> <br />
								<span th:text="${order.customer.phone}"></span> <br />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 mb-5">
					<div class="row">
						<div class="col-2"></div>
						<div class="col-1">
							<i class="fas fa-solid fa-home fa-lg"></i>
						</div>
						<div class="col-9">
							<div class="mx-3">
								<h6 style="color:black;"><b>Deliver To</b></h6>
								<span th:text="${order.shippingAddress}"></span> <br />
								<span th:text="${order.shippingEmail}"></span> <br />
								<span th:text="${order.shippingPhone}"></span> <br />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12">
					<div class="row">
						<div class="col-2"></div>
						<div class="col-1">
							<i class="fas fa-solid fa-truck fa-lg"></i>
						</div>
						<div class="col-9">
							<div class="mx-3">
								<h6 style="color:black;"><b>Delivery Man</b></h6>
								<th:block th:if="${order.deliveryMan}">
									<span th:text="${order.deliveryMan.name}"></span> <small>#ID: <span th:text="${order.deliveryMan.id}"></span></small> <br />
									<span th:text="${order.deliveryMan.email}"></span> <br />
									<span th:text="${order.deliveryMan.phone}"></span> <br />
									<span>
										<span th:if="${order.status.name()} == 'pending'" class="text-warning">Pending</span>
                      					<span th:if="${order.status.name()} == 'received'" class="text-success">Received</span>
                      					<span th:if="${order.status.name()} == 'cancelled'" class="text-danger">Cancelled</span>
                      					<span th:if="${order.status.name()} == 'shipped'" class="text-shipped">Shipped</span>
                      					<span th:if="${order.status.name()} == 'delivered'" class="text-primary">Delivered</span>
									</span>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row mt-5">
				<table class="table text-center m-5">
					<thead>
						<tr>
							<th style="color:black;">Product</th>
							<th style="color:black;">Quantity</th>
							<th style="color:black;">Unit Price</th>
							<th style="color:black;">Total</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="item: ${order.items}">
							<tr>
								<td>
									<img th:src="@{${item.product.photoPath}}" width="50" height="50" alt="" />
									<span th:text="${item.product.name}"></span>
								</td>
								<td th:text="${item.quantity}"></td>
								<td th:text="${item.product.price}"></td>
								<td th:text="${item.sub_total}"></td>
							</tr>
						</th:block>
						<tr>
							<td colspan="2"></td>
							<th style="color:black;">Sub  Total</th>
							<td th:text="${sub_total} + ' Ks.'"></td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<th style="color:black;">Shipping cost</th>
							<td th:text="${order.shippingTownship.deliveryFees} + ' Ks.'"></td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<th style="color:black;">Total</th>
							<td th:text="${total} + ' Ks.'"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			
			<!-- <div class="row mt-4">
			<div class="col-10">
				<p><span style="color:black;">Order ID: </span><span th:text="${order.id}"></span></p>
				<hr />
				<p><span style="color:black;">Customer: </span><span th:text="${order.customer.name}"></span></p>
				<p><span style="color:black;">Customer ID: </span><span th:text="${order.customer.id}"></span></p>
				<hr />
				<p><span style="color:black;">Shipping Name: </span><span th:text="${order.shippingName}"></span></p>
				<p><span style="color:black;">Shipping Address: </span><span th:text="${order.shippingAddress}"></span></p>
				<p><span style="color:black;">Shipping Email: </span><span th:text="${order.shippingEmail}"></span></p>
				<p><span style="color:black;">Shipping Phone: </span><span th:text="${order.shippingPhone}"></span></p>
				<hr />
				<p><span style="color:black;">Status: </span><span th:text="${order.status}"></span></p>
				<hr />
				<p><span style="color:black;">Ordered Date: </span><span th:text="${order.created_at}"></span></p>
				<p><span style="color:black;">Updated Date: </span><span th:text="${order.updated_at}"></span></p>
				<hr />
					<h5 style="color:black;">Items: </h5>
					<div class="row d-flex justify-content-center mt-3">
						<th:block th:each="item: ${order.items}">
						
							<ul>
								<li><span style="color:black;">Name: </span><span th:text="${item.product.name}"></span>
								<ul>
									<li><span style="color:black;">Quantity: </span><span th:text="${item.quantity}"></span></li>
									<li><span style="color:black;">Sub Total: </span><span th:text="${item.sub_total}"></span></li>
								</ul>
							</li>
							</ul>
						</th:block>
					</div>
					</div>
				</div> -->
	</th:block>
	
</body>
</html>