<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Product | Detail</title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-10">
				<h1 class="h3 mb-2 text-gray-800">Product Detail</h1>
			</div>
			<div class="col">
				<a th:href="@{/admin/product/list}" class="btn btn-primary btn-sm px-3"><i class="fas fa-solid fa-angle-left"></i>  Back</a>
			</div>
		</div>
		<hr />
		
		<!-- <div class="row">
			<div class="card mb-3" > -->
  				<div class="row g-0 mt-5">
    				<div class="col-md-5 d-flex justify-content-center">
      					<img width="300px" th:src="@{${product.photoPath}}" class="rounded" alt="...">
    				</div>
    				<div class="col-md-6 mt-5 pt-3">
        				<h4 style="color:black;" th:text="${product.name}">Card title</h4>
        				<h5 class="mb-3"><span>Shop: </span><b style="color:#ffa45c;" th:text="${product.seller.name}"></b></h5> <hr />
        				<p style="color:black;"><span th:text="${product.price}"></span> Ks.</p>
        				<p th:text="${product.description}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        				<p><small class="text-muted">Updated at <span th:text="${product.updated_at}"></span></small></p>
    					<div class="row d-flex justify-content-center mt-4">
    						<a th:href="@{'/admin/product/edit/' + ${product.id}}" class="btn btn-primary btn-sm px-4 text-center float-left"><i class="fas fa-solid fa-pen fa-sm"></i><b> Edit</b></a>
    						<div class="col-2"></div>
    						<a th:href="@{'/admin/product/delete/' + ${product.id}}" class="btn btn-danger btn-sm px-4 text-center float-right"><i class="fas fa-solid fa-trash fa-sm"></i><b> Delete</b></a>
    					</div>
    				</div>
  				</div>
			<!-- </div>
		</div> -->
	</th:block>
	
</body>
</html>