<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Seller Profile</title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div>
				<h1 class="h3 mb-2 text-gray-800">Seller Profile</h1>
			</div>
		</div>
		
		<div class="row bg-img mb-3">
			
			<div class="row seller_profile_img col-12 pt-5 mt-3" >
				<div class="col-xl-2 col-md-2 col-12 ml-5">
				<div class="d-flex justify-content-center">
					<img th:src="@{${seller.photoPath}}" alt="" width="180" height="150" class="img-profile"/>
				</div>
				</div>
				<div class="col-xl-8 col-md-8 col-12 seller-data-header mt-4">
					<div class="row pt-5">
						<div class="col-8 pl-5">
							<h4 style="color:black;"><b th:text="${seller.name}"></b></h4>
							<p th:text="${seller.address}"></p>
						</div>
						<div class="col-4">
							<a th:href="@{/admin/seller}" class="btn btn-upload float-right">Back</a>
						</div>		
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-1"></div>
			<div class="col-md-3 col-12 mb-4">
				<p>Total Sales:</p>
				<h5 th:text="${orderNumber}" class="text-success"></h5>
			</div>
			<div class="col-md-4 col-12 mb-4">
				<h5 style="color:black;"><b>Contacts</b></h5>
				<p th:text="${seller.email}"></p>
				<p th:text="${seller.phone}"></p>
			</div>
			<div class="col-md-4 col-12 mb-4">
				<h5 style="color:black;"><b>Address</b></h5>
				<p>Country: <span th:text="${seller.availablePlace.city}"></span></p>
				<p>Address: <span th:text="${seller.address}"></span></p>
			</div>
		</div>
		
		<div class="row my-3">
			<h3 style="color:black;"><b>Products</b></h3>
		</div>
		<div class="row">
		<th:block th:each="prod: ${sellerProductlist}">
			<div class="col-xl-4 col-md-6 col-12 my-4">
				<a th:href="@{'/admin/product/detail/' + ${prod.id}}">
					<div class="d-flex justify-content-center">
						<div class="card" style="width: 18rem;">
  							<img th:src="${prod.photoPath}" class="card-img-top" alt="...">
  							<div class="card-body">
    							<p class="card-text" th:text="${prod.name}"></p>
    							<p style="color:black;" class="card-text" th:text="${prod.description}"></p>
 						 	</div>
						</div>
					</div>
				</a>
			</div>
		</th:block>
			
		</div>
		<div class="row float-right mr-5">
			<a th:href="@{'/admin/seller/product/detail/' + ${seller.id}}" class="text-primary">See More</a>
		</div>
	
	</th:block>
	</body>
</html>