<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminfront-template}">
<head>
	<title>Seller Order List</title>
	
</head>
<body>
	<th:block layout:fragment="profileImg">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small"><b th:text="${loginAdmin.name}"></b></span>
		<img class="img-profile rounded-circle" th:src="@{${loginAdmin.photoPath}}">
	</th:block>
	<th:block layout:fragment="content-body">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-9">
				<h1 class="h3 mb-2 text-gray-800">My Order List</h1>
			</div>
		</div>
		
		<!-- Order Table -->
		<div class="table-responsive">
		<table class="table table-striped text-center mt-4" id="dataTable" width="100%" cellspacing="0">
        	<thead>
            	<tr>
            		<th>No</th>
                	<th>Product</th>
                    <th>Quantity</th>
                	<th>Total</th>
                 	<th>Customer</th>
                  	<th>Order Date</th>
                  	<th>Status</th>
               	</tr>
            </thead>
         	<tbody>
               	<th:block th:each="orderitem,state : ${sellerOrderItemList}">
                 	<tr>
                      		<td th:text="${state.count}"></td>
                      		<td>
                      		<div class="row">
                      			<div class="col-2"></div>
                      			<div class="col-2">
                      			 	<img width="40" height="40" th:src="@{${orderitem.product.photoPath}}" alt="" class="img-profile rounded-circle float-right"/>
                      			</div>
                      			<div class="col-5">
                      				<div class="float-left">
                      					<small th:text="${orderitem.product.name}"></small> <br />
                      					<small>Order ID: #<span th:text="${orderitem.order.id}"></span></small>
                      				</div>
                      			</div>
                      			<div class="col-3"></div>
                      			
                      		</div>
                      	</td>
                      	<td th:text="${orderitem.quantity}"></td>
                      	<td th:text="${orderitem.sub_total}"></td>
                      	<td th:text="${orderitem.order.customer.name}"></td>
                     	<td th:text="${#temporals.format(orderitem.order.created_at, 'MMM dd,yyyy')}"></td>
                       	<td>
                      		<span th:if="${orderitem.order.status.name()} == 'pending'" class="text-warning">Pending</span>
                      		<span th:if="${orderitem.order.status.name()} == 'received'" class="text-success">Received</span>
                      		<span th:if="${orderitem.order.status.name()} == 'cancelled'" class="text-danger">Cancelled</span>
                      		<span th:if="${orderitem.order.status.name()} == 'shipped'" class="text-shipped">Shipped</span>
                      		<span th:if="${orderitem.order.status.name()} == 'delivered'" class="text-primary">Delivered</span>
                      	</td>
                   	</tr>
              	</th:block>
          	</tbody>
      	</table>
      	</div>
	</th:block>
	<th:block layout:fragment="js">
		<script type="text/javascript">
				function goDetail(id){
					location.href="/admin/order/detail/" + id;
				}
		</script>
	</th:block>
	
</body>
</html>